.history-item {
    width: 100%;
    height: 240px;
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    overflow: hidden;
    position: relative;
    margin-left: 50px;

    &:hover {
        cursor: pointer;
        & .background-image {
            opacity: 0.6;
            transform: scale(1.1);
            transition: transform 6s cubic-bezier(0.25, 0.45, 0.45, 0.95);
        }
        &.content {
            opacity: 0.9;
        }
    }

    .background-image {
        width: 100%;
        height: 100%;
        background-position: center;
        background-size: cover;
    }

    .content {
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid black;
        background-color: oldlace;
        opacity: 0.6;
        position: absolute;
    }
}
