@import "../../styles/mediaQueries.scss";

.nav-bar {
    nav {
        a {
            color: #4d4d4e;
            line-height: 50px;
            position: relative;
            text-decoration: none;

            i {
                transition: all 0.3s ease-out;
            }

            &:hover {
                color: #ffd700;

                svg {
                    opacity: 0;
                }

                &:after {
                    opacity: 1;
                }
            }

            &:after {
                content: "";
                font-size: 14px;
                letter-spacing: 2px;
                position: absolute;
                bottom: 0;
                display: block;
                width: 100%;
                text-align: center;
                opacity: 0;
                transition: all 0.3s ease-out;
            }

            &:first-child {
                &:after {
                    @include responsive(sm) {
                        font-size: 10px;
                    }
                    content: "Home";
                }
            }
        }

        a.about-link {
            &:after {
                @include responsive(sm) {
                    font-size: 10px;
                }
                content: "About";
            }
        }

        a.skills-link {
            &:after {
                @include responsive(sm) {
                    font-size: 10px;
                }
                content: "Skills";
            }
        }
        a.contact-link {
            &:after {
                @include responsive(sm) {
                    font-size: 10px;
                }
                content: "Contact";
            }
        }

        a.history-link {
            &:after {
                @include responsive(sm) {
                    font-size: 10px;
                }
                content: "History";
            }
        }

        a.active {
            svg {
                color: #ffd700;
            }
        }
    }

    ul {
        @include responsive(lg) {
            display: none;
        }
        li {
            a {
                padding: 7px 0;
                font-size: 15px;
                line-height: 16px;
                width: 50%;
                text-decoration: none;

                svg {
                    height: 30px;
                    width: 30px;
                }

                &:hover svg {
                    color: #ffd700;
                }
            }
        }
    }
}
